html, body{
    font-family: 'Noto Sans', sans-serif;
    background:rgb(255, 246, 246);
    width: 100%;
    margin:0rem;
    padding:0rem;
  }

  a {
    text-decoration: none;
    color: #AA4545;
}

.garden_container {
    display:flex;
    align-items: center; 
    justify-content: center;
    margin: 0.5rem;
}

.garden1box
{
  display: grid;
  grid-template-columns: 5rem 5rem 5rem;
  grid-template-rows: 5rem 5rem 5rem 5rem 5rem;
  justify-items: center;
  align-items: center;
  border: 0.17rem solid green;
  width: 15rem;
  height:25rem;
  margin: 3rem;
}

.peas1 {
  grid-column-start: 1;
  grid-row-start: 5;
  border: 0.17rem solid green;
  border-radius: 50%;
  width:3.5rem;
  height:3.5rem;
}

.peas1 p {
    text-align: center;
    line-height: 2.5rem;
    margin:0.5rem;
}

.peas1:hover {
    color:#fffbfb;
    background-color:#B1818D;
}

.peas2 {
  grid-column-start: 2;
  grid-row-start: 5;
  border: 0.17rem solid green;
  border-radius: 50%;
  }
  
.peas2 p {
      text-align: center;
      margin: 0.5rem;
  }
  
.peas2:hover {
      color:#fffbfb;
      background-color:#B1818D;
  }

.peas3 {
    grid-column-start: 3;
    grid-row-start: 5;
    border: 0.17rem solid green;
    border-radius: 50%;
    }
    
.peas3 p {
    text-align: center;
    margin: 0.5rem;
    }
    
.peas3:hover {
    color:#fffbfb;
    background-color:#B1818D;

    }

.peas4 {
      grid-column-start: 1;
      grid-row-start: 4;
      border: 0.17rem solid green;
      border-radius: 50%;
      }
      
.peas4 p {
      text-align: center;
      margin: 0.5rem;
      }
      
.peas4:hover {
      color:#fffbfb;
      background-color:#B1818D;
      }

.foxglove1 {
        grid-column-start: 2;
        grid-row-start: 4;
        border: 0.17rem solid green;
        border-radius: 50%;
        }
        
.foxglove1 p {
        text-align: center;
        margin: 0.5rem;
        font-size: 0.80rem;
        border-radius: 50%;
        }
        
.foxglove1:hover {
        color:#fffbfb;
        background-color:#B1818D;
        }

.foxglove2 {
          grid-column-start: 3;
          grid-row-start: 4;
          border: 0.17rem solid green;
          border-radius: 50%;
          width:3.5rem;
          height:3.5rem;
          }
          
.foxglove2 p {
          display:inline-block;
          vertical-align: middle;
          justify-self:center;
          margin: 0.5rem;
          font-size: 0.80rem;
          }
          
  .foxglove2:hover {
          color:#fffbfb;
          background-color:#B1818D;
          }
  

.garden2box
{
  border: 0.17rem solid green;
  width: 10rem;
  height:20rem;
  padding: 3rem;
  margin: 3rem;
}

.garden3box
{
  border: 0.17rem solid green;
  width: 10rem;
  height:20rem;
  padding: 3rem;
  margin: 3rem;
}


footer {
    position: absolute; 
    font-size:0.75rem;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }