
html, body{
    font-family: 'Merriweather', serif;
    background: rgb(254,237,236);
    background: radial-gradient(circle, rgba(254,237,236,0.9850315126050421) 6%, rgba(255,230,226,1) 97%);
    width: 100%;
    padding: 0em;
  }
  
  .main_container {
      display: flex;
      flex-direction: column;
      align-items: center; 
      justify-content: center;
      padding: 0.5em;
  }

  .main_container p {
    line-height: 0em;
  }

  .currently_learning p {
    padding-top: 1.5em;
  }

  .main_nav {
    padding: 4em;
  }

  .writingnav:hover, .linav:hover, .emailnav:hover {
    text-decoration: underline;
  }

  .button_container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    padding-bottom: 2.5em;
  }

  button {
    color: black;
    background-color: rgb(254,237,236);
    border:0.1em solid #000000;
    margin: 0 0.3em 0.3em 0;
    font-family: 'Merriweather', serif;
    text-decoration: none;
    font-weight:300;
    text-shadow: none;
    text-align:center;
    font-size:14px;
    }

  button:hover{
      color:#fffbfb;
      background-color:#B1818D;
      }
  
  footer {
    position: fixed; 
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  
  a {
      text-decoration: none;
      color: #AA4545;
  }
  
  